
<style>
    .table td, .table th {
        vertical-align: middle;
    }
    h1 {
        color: blue;
    }
    hr {
        background-color: #ddd;
    }
    .jumbotron {
        min-height: 100vh;
    }
</style>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi plantilla de Ingreso de Datos en EJS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">    
</head>
<div class="container mt-3">
<div class="jumbotron">
    <h1>Vista de Productos</h1>
    <br>

    <% if(hayProductos) { %>
  
        <div class="table-responsive">
            <table class="table table-dark">
                <tr> <th>Nombre</th> <th>Precio</th> <th>Foto</th></tr>
                <% productos.forEach(productos => { %>
               
                    <tr> <td><%-productos.title %></td> <td>$<%-productos.price %></td> <td><img width="50" src=<%-productos.thumbnail %> alt="not found"></td> </tr>
                    <% }) %>
            </table>
        </div>
       
        <% } else { %> 
        <h3 class="alert alert-warning">No se encontraron productos</h3>
        <% } %> 
</div>
</div>
</html>
<% /* %>
<% */ %>



